PRINT_PANDA_PORT=17005
PRINT_PANDA_WS_PORT=17006
CORS_ORIGIN=https://print-panda.me
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me
JWT_SECRET=change-me
UPI_ID=pandaprint@oksbi
UPI_NAME=Print Panda
DEFAULT_BW_PRICE=3
DEFAULT_COLOR_PRICE=10
RETENTION_MINUTES=10
PUBLIC_BASE_URL=https://git-pipeline.metatronhost.in/print-panda
WEB_BASE_URL=https://print-panda.me
PAY_PANDA_API_BASE=https://metatronhost.in/pay-panda/api
PAY_PANDA_APP_ID=
PAY_PANDA_APP_SECRET=
PAY_PANDA_REDIRECT_URL=
